# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Flask/SQLAlchemy files
instance/
*.sqlite3

# Editor-specific files
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
